* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    padding: 20px 0;
}

.task-title {
    margin: 10px 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

li{
    margin: 10px 0;
}

h4 {
    display: inline-block;
}

.state {
    display: inline-block;
    color: white;
    background-color: orange;
    padding: 5px;
}

.completed {
    background-color: green;
}

.backlog {
    background-color: red;
}

.inProgress {
    background-color: yellow;
}

.details {
    display: block;
    margin: 5px 0;
}